*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
target
bin
.idea
apache-tomcat-7.0.70
out
.classpath
.project
*.ipr
*.iws
*.iml

# Logs and databases #
*.log

# ETC #
.settings
.git
.svn
*~

# Mac
.DS_Store

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
